@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);

}
.dark-mode {
    --bg-color :#0b061f;
    --text-color: #fdfdfd;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    padding: 2rem 7%;
    background: rgb(85, 84, 84);
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky{
    background: var(--white-color);
    box-shadow: 1rem .1rem 1rem var(--shadow-color);


}

.header.sticky .navbar a{
    color: var(--text-color);
}

.header.sticky .navbar a .action{
    color: var(--main-color);
}

.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}
.navbar a {
    font-size: 1.7rem;
    display: inline-block;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 7rem;
    position: relative;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover{
    color: var(--main-color);;
}

.header.sticky .navbar a::before{
    background:var(--main-color);
    opacity: .7;
}

.navbar a.action::before{
content: '';
position: absolute;
left: 0;
bottom: -6px;
width:100%;
height: .3rem; 
background: var(--white-color);

}

.header.sticky #darkMode-icon{
    color: var(--text-color);
    opacity: .9;
}

#menu {
    font-size: 2.9rem;
    margin-left: 0.7rem;
    margin-right: -8rem;
    color:  var(--white-color);
    display: flex;
    cursor: pointer;
    animation: slideRight 1s ease backwards;
    animation-delay: .7s;


}

#darkMode {
    font-size: 2.2rem;
    color: var(--white-color);
    cursor: pointer;
    margin-right: 8rem;
    margin-left: -1.5rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;

}

section {
    margin-top: 10rem;
    width: 100hv;
    min-height: 100hv;
    padding: 10rem 7% 2rem;
    align-items: center;
}
.home{
    display: flex;
    align-items: center;
    animation: slideRight 1s ease backwards;
    animation-delay: .7s;
    height: 600px;
   

}

.home .home-content {
    max-width: 44rem;
    animation: slideRight 1s ease backwards;
    animation-delay: .7s;


}

.home-content h3 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: .3rem;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
    font-size: 4.25rem;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;

}

.home-content p {
   font-size: 1.6rem;
   opacity: 0;
   animation: slideRight 1s ease forwards;
   animation-delay: 1.5s;


}

.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    align-items: center;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.17s * var(--i));

} 

.home-content .social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);

}

.btn{
    display: inline-block;
    padding: .1rem  3rem .5rem var(--shadow-color) ;
    background: var(--main-color);
    border-radius: 1.8rem;
    font-size: 2.2rem;
    color: var(--white-color);
    box-shadow: .2rem .3rem .5rem var(--shadow-color);
    letter-spacing: .1rem;
    font-weight: 650;
    border: .05rem solid transparent;
    transition: .5rem ease;
    box-sizing: 2rem;
    
    
}

.btn:hover {
background: transparent;
color: var(--main-color);
border-color: var(--main-color);

}

.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;

}

.home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards, professionRotate 10s ease-out infinite;
    animation-delay: 2.5s, 3.5s;


}

.home .profession-box .profession{
    position: absolute;
    display: flex;
    left: 0;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i{
    margin-right: 15px;

}
.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4){
    padding-bottom: 20px;

} 

.home .profession i {
    font-size: 3.6rem;

}

.home .profession h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;

}

.home .profession-box .circle {
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;

}

.home .profession-container .overlay{
    position: absolute;
    top: 0;
    width: 0;
    right: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);;
    border-left: 384px solid transparent;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay:1.7s ;
}

.home-img img{
    position: absolute;
    bottom: 15px;
    right: 0;
    width: 30%;
    pointer-events: none;
    background: var(--main-color);
    border-radius: 50%;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 3s;
} 

.about-img img{
    height: 300px;
    width:360px;
    border-radius: 100%;
}

.heading{
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2{
    text-align: left;
    line-break: 1.2rem;
}

.about-content h3{
    font-size: 2rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: -14px;
}

span{
    color: var(--main-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.services{
    min-height: auto;
    padding: 7rem;
}

.services h2{
    margin-bottom: 5rem;
}

.services .services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transform: .5s ease;
}
.services-container .services-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}


.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 2.6rem;
    transition: .5s ease;
}

.services-box:hover h3 {
    color: var(--main-color);
}

.services-box p{
    font-size: 1rem 0 3rem;
}


.portfolio{
    padding-bottom: 10rem;
}

.portfolio h2{
    margin-bottom: 4rem; 
}

.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    height: 210px;
}

.portfolio-box img{
    width: 100%;
    transition: .1rem ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5rem ease;
}

.portfolio-box:hover .portfolio-layer{
    opacity: 1;
}

.portfolio-layer h4{
    font-size: 2.3rem;
}

.portfolio-layer p{
    font-size: 1.3rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.6rem;
    height: 3.6rem;
    background: var(--white-color);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2.5rem;
    color: #333;
}

.testimonial-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem irem;
}

.testimonial-container .testimonial-wrapper {
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}

.testimonial-wrapper .testimonial-box {
    
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}



.testimonial-container .testimonial-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
    justify-content: center;
}

.testimonial-slide img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
}

.testimonial-slide h3{
    font-size: 2.5rem;
    margin: 2rem 0;
}
.testimonial-slide p{
    font-size: 1.3rem;
    text-align: center;
    justify-content: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev{
    color: var(--main-color);
}

.testimonial-box .swiper-button-next{
    right: 0;
}

.testimonial-box .swiper-button-prev{
    left: 0;
}
.testimonial-box .swiper-pagination-bullet{
background: rgba(0, 0, 0, 0);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: .1rem .1rem .2rem .2rem var(--shadow-color);
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    border-radius: .5rem;
}

.footer {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p{
    font-size:  1.5rem;
    color: var(--white-color);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    background: var(--white-color);
    border-radius: .7rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5rem ease;
}

.footer-iconTop a:hover {
    outline-color: var(--white-color);
}

.footer-iconTop a i {
    font-size: 2.3rem;
    color: #333;
    
}

@media (max-width:1200px){
    html {
        font-size: 55%;
    }

    .home .profession-container {
        height: 85.8rem;
    }

    .home .profession-container .portfolio-box {
        right: -12rem;
        height: 85.8rem;
    }
    .home .profession-container .overlay {
        right: -9rem;
    }
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3%;
    }
    .home .profession-container .profession-box {
        right: -22rem;
    }
    .home .profession-container .overlay {
        right: -15rem;
    }
}

@media (max-width:1024px){
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;

    }
    .home .profession-container .portfolio-box {
        right: -22rem;
    }
    .home .profession-container .overlay {
        right: -15rem;
    }
}

@media (max-width:991px){
    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--main-color);
    }
    .navbar a.active::before {
        background: var(--main-color);
        opacity: .7;
    }

    .home.home-content {
        max-width: 50rem;
    }
    .home .profession-container .profession-box {
        right: -45rem;
    }
    .home .profession-container .overlay{
        right: -39.5rem;
    }

    .home-img img {
        display: none;
    }
    .services,
    .portfolio {
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width:768px){
    #menu-icon {
        display: black;
    }
    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin: .1rem;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display:  none;
        
    }
    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }
    .navbar a.active {
        color: var(--main-color);
    }
    .navbar a::before {
        display: none;
    }
    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }

    .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }

    .home .profession-container {
        left:0;
        width: 100%;
        height: 100%;
    }
    .home .profession-container .portfolio-box{
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }
    .home .profession-box .profession {
        padding: 0 13rem;
        left:auto;
        transform-origin: 0;
    }
    .home .profession-box .profession:nth-child(1){
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .home .profession-box .profession:nth-child(1) i {
        margin-right: 0;
    }
    .home .profession-box .profession:nth-child(2){
        transform: rotate(0deg) translate(0, -335px);
    }
    .home .profession-box .profession:nth-child(3){
        transform: rotate(90deg) translate(-115px, -450px);
    }
    .home .profession-box .profession:nth-child(4){
        transform: rotate(180deg) translate(-220px, -335px);
    }
    .home .profession-box .circle {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }
    .home .profession-container .overlay {
        position: fixed;
        top: 70rem;
        right: 0;
        left: 50%;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width:23.9rem;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }
    .about-img img {
        width: 70vw;
        margin-top: 2rem;
    }

.services-box h2,
.portfolio h2 {
    margin-bottom: 3rem;
}
.portfolio .portfolio-container {
    grid-template-columns: repeat(2,1fr);
}
.testimonial-container .testimonial-wrapper {
    padding: 5rem 0;
}
.testimonial-content .testimonial-slide {
    padding: 3rem 2rem;
}
.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
    display: none;
}

}
@keyframes professionRotate{
    0%, 20% {
        transform: rotate(0deg);
    }
    25%, 45% {
        transform: rotate(-90deg);
    }
    50%, 70% {
        transform: rotate(-180deg);
    }
    75%, 95% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes slideRight {
    0% {
        opacity: 0;
        transform:translateX(-100px)
    }
   100% {
        opacity: 1;
        transform:translateX(0px)
    }
}
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform:translateX(100px)
    }
   100% {
        opacity: 1;
        transform:translateX(50px)
    }
}

@media (max-width:617px) {
    .portfolio .portfolio-container {
      grid-template-columns:  1fr;
    }
}
@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    #darkMode-icon {
        right: 6rem;
    }
    .home {
        padding: 0 3% 30rem ;
    }
    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate (-110px, -220px); 
    }
    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate (5px, -335px); 
    }
    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate (-105px, -440px); 
    }
    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate (-210px, -335px); 
    }
    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width:450px) {
    .about-img img {
        width: 90vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin: 2rem;
    }
}





